.App {
  text-align: center;
  background-image: url('../../public/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
