/*Modal*/
.card_item {
  margin: 10px;
  width: 220px;
}
.overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  z-index: 300;
  left: 0;
  top: 0;
  text-align: end;
  justify-content: center;
  align-items: center;
  display: flex;
}

.overlay__modal {
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__img {
  border-radius: 5px;
  height: 60%;
  width: 60%;
}

.modal__svg {
  height: 24px;
  width: 24px;
  opacity: 0.3;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.modal__svg:hover {
  opacity: 1;
}

.overlay.animated {
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-list {
  height: 100vh;
  background-image: url('../../../public/img/jj.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; 
}

.question {
  font-size: 16px;
}

.question_point {
  // margin: 10px;
  background: linear-gradient(
    179.96deg,
    rgba(255, 255, 255, 0.8) 70.04%,
    rgba(87, 177, 255, 0.8) 130.08%
  );
  border-radius: 46px;
  vertical-align: middle;
  line-height: 130px;
}

.hidden {
  pointer-events: none; /* делаем элемент неактивным для взаимодействия */
  cursor: default; /*  курсор в виде стрелки */
  color: #888;
}
