.main {
  //   height: 100vh;
  color: aqua;
  text-align: center;
//   background-image: url('../../../public/img/bg3.webp');
//   background-repeat: no-repeat;
//   background-size: cover;
  height: 100%;
//   background-position: center;
}
